@charset "UTF-8";

/**
 * Responsive Tabs Front CSS
 */

 .nav-tabs .nav-link {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.tab-content .tab-pane{
    padding: 10px 0 !important;
}